
/* ----侧边信息框---- */

.su_main_box {
    width: 320px;
    height: 45px;
    background-color: rgb(237, 242, 252);
    position: fixed;
    z-index: 8;
    top: 70px;
    line-height: 45px;
    right: -320px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 14px;
    text-align: center;
}

/* 默认 */

.su_main_style_def>span {
    color: rgb(144, 147, 153);
}

.su_main_style_def>span::before {
    content: "\f27a";
    font-family: FontAwesome;
    color: rgb(144, 147, 153);
    margin-right: 10px;
    font-size: 13px;
}

/* 正确 */

.su_main_style_true {
    border: 1px solid rgb(225, 243, 216);
    background-color: rgb(240, 249, 235);
}

.su_main_style_true>span {
    color: rgb(103, 194, 58);
}

.su_main_style_true>span::before {
    content: "\f058";
    font-family: FontAwesome;
    color: rgb(103, 194, 58);
    margin-right: 10px;
    font-size: 15px;
}

/* 错误 */

.su_main_style_error {
    border: 1px solid rgb(253, 226, 226);
    background-color: rgb(254, 240, 240);
}

.su_main_style_error>span {
    color: rgb(245, 136, 168);
}

.su_main_style_error>span::before {
    content: "\f057";
    font-family: FontAwesome;
    color: rgb(245, 136, 168);
    margin-right: 10px;
    font-size: 15px;
}

/* 警告 */

.su_main_style_warn {
    border: 1px solid rgb(250, 236, 216);
    background-color: rgb(253, 246, 236);
}

.su_main_style_warn>span {
    color: rgb(230, 162, 60);
}

.su_main_style_warn>span::before {
    content: "\f06a";
    font-family: FontAwesome;
    color: rgb(230, 162, 60);
    margin-right: 10px;
    font-size: 15px;
}