#land > div:nth-child(3) {
  display: inline-block;
  margin-right: 100px;
}
body,
html {
  width: 100%;
  height: 100%;
  min-width: 1366px;
}
#jump {
  cursor: pointer;
  width: 100px;
  height: 50px;
  line-height: 3;
  display: inline-block;
}
#main {
  background-image: url("../img/background_image.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}
#main > img {
  position: fixed;
  width: 45%;
  height: 100%;
  right: -45%;
  opacity: 0;
}
#land,
#register {
  width: 300px;
  height: 400px;
  position: fixed;
  right: 100px;
  top: 170px;
  opacity: 0;
}
#logo {
  text-align: center;
  position: fixed;
  right: -45%;
  top: 100px;
  height: 50px;
  width: 150px;
  margin-right: 70px;
  margin-top: 0;
  opacity: 0;
}
#logo > img {
  width: 150px;
  height: 70px;
  position: fixed;
  top: 50px;
  left: 50px;
}
#logo > img:hover {
  cursor: pointer;
}
#land {
  text-align: center;
  background: linear-gradient(#ff7e5f, #feb47b);
  border-radius: 12px;
  opacity: 0.9;
  position: fixed;
  right: -45%;
}
#land > * {
  margin-top: 20px;
}
#land > canvas {
  height: 15%;
  width: 100%;
  margin-top: 0;
}
#land > input:nth-child(2),
#land > input:nth-child(4) {
  display: inline-block;
  width: 80%;
  height: 7%;
  margin-top: 40px;
}
#land > input:nth-child(4) {
  margin-top: 20px;
}
.remember-me {
  display: inline-block;
  margin-right: 180px;
}
#land > button {
  width: 80%;
  height: 7%;
}
.icon > div {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px 5px;
  border: 1px solid white;
  background-size: cover;
}
.icon > div:hover {
  cursor: pointer;
}
.qq {
  background-image: url("../img/QQ.png");
}
.weixin {
  background-image: url("../img/weixin.png");
}
.weibo {
  background-image: url("../img/weibo.png");
}
.baidu {
  background-image: url("../img/baidu.png");
}
.icon > p {
  color: white;
}
#register {
  text-align: center;
  display: none;
  background: linear-gradient(#ff7e5f, #feb47b);
  border-radius: 12px;
  opacity: 0.9;
}
#register > canvas {
  height: 15%;
  width: 100%;
  margin-top: 0;
}
#register > * {
  margin-top: 5px;
}
#register > div > div:nth-child(1) {
  width: 20%;
  float: left;
  text-align: right;
}
#register > div > .form-control {
  width: 75%;
  height: 30px;
}
#register > div > button {
  width: 75%;
  height: 30px;
  margin-left: 45px;
}
.sex > div:nth-child(2),
.sex > div:nth-child(3) {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
.tips {
  display: inline-block;
  margin-right: 50px;
  width: 220px;
  height: 10px;
  text-align: left;
  margin-left: 60px;
  color: red;
  font-weight: bolder;
}
.marriage > div:nth-child(2),
.marriage > div:nth-child(3),
.marriage > div:nth-child(4) {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.landTips {
  width: 220px;
  height: 10px;
  text-align: left;
  margin-left: 30px;
  color: red;
  font-weight: bolder;
  margin-top: 0;
}
